---
import "../styles/base.css";
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Jakob Matuschek - Saxophonmusik aus dem Herzen Passau's</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	:root {
		font-family: "Inter", sans-serif;
	}
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
	}
</style>
