---
import "../styles/base.css";
import Navbar from "../components/Navbar.astro";
import Login from "../components/Login.astro";
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Jakob Matuschek - Saxophonmusik aus dem Herzen Passau's</title>
  </head>
  <body id="body">
    <Login />
    <Navbar />
    <slot />
  </body>
</html>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  document.addEventListener("touchstart", () => {}, { passive: true });
  window.addEventListener("DOMContentLoaded", () => {
    gsap.registerPlugin(ScrollTrigger);
    ScrollTrigger.defaults({
      scroller: window,
      markers: false,
      fastScrollEnd: true,
    });
    gsap.utils.toArray(".animatable").forEach((item) => {
      gsap.fromTo(
        item,
        { opacity: 0, y: 25 },
        {
          y: 0,
          opacity: 1,
          duration: 0.1,
          scrollTrigger: {
            trigger: item,
            start: "top 115%",
            end: "top 80%",
            // Startet, wenn das Element 80% vom Viewport erreicht
            toggleActions: "play none none none",
            scrub: 3,
            force3D: true,
          },
        },
      );
    });
    gsap.utils.toArray(".animatable-opacity").forEach((item) => {
      gsap.fromTo(
        item,
        { opacity: 0, y: 25 },
        {
          y: 0,
          opacity: 0.3,
          duration: 0.3,
          scrollTrigger: {
            trigger: item,
            start: "top 95%",
            end: "top 60%",
            // Startet, wenn das Element 80% vom Viewport erreicht
            toggleActions: "play reverse play reverse",
            scrub: 0.5,
          },
        },
      );
    });
  });
</script>
<style>
  :root {
    font-family: "Inter", sans-serif;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
</style>
